@import url('../css/communities.css');

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out; /* Add transition for background color */
}

.section {
  padding: 40px 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Add transition for box shadow */
}

.section-pink {
  background-color: #FDE9EA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transitions for background color and box shadow */
}

.section-red {
  padding: 60px 0;
  background-color: #7C0C24;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transitions for background color and box shadow */
}

.section-pink h1 {
  font-size: 50px;
  transition: color 0.3s ease-in-out; /* Add transition for font color */
  font-family: 'Gilroy-Bold';
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4px 60px;
  transition: background-color 1.3s ease-in-out; /* Add transition for background color */
}

.hero-text {
  text-align: left;
}

.hero-img {
  height: 500px;
  width: auto;
  padding: 60px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.button-container {
  padding-top: 40px; /* Adjust the value as needed */
}

.comtext{
  font-family: 'Gilroy-Bold';
  font-size: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Gap between grid items */
  padding-left: 60px;
  padding-right: 60px;
  
}

.grid-item {
  padding: 20px;
  background-color: #f8f2f0;
  border-radius: 12px;
  display: flex;
  flex-direction: column; /* Arrange items vertically */

}

.flex-container {
  flex: 1; /* Expand to fill available space */
}

.grid-item h3 {
  margin: 0; /* Remove default margin to align h3 to the left */
  text-align: left; /* Align h3 text to the left */
  font-family: 'Gilroy-Medium';
}

.grid-item p {
  margin-top: 0.7rem; /* Remove default margin to align p to the left */
  font-family: 'Gilroy-Regular';
  text-align: left; /* Align p text to the left */
}

.user-info {
  font-size: 14px;
  font-family: 'Gilroy-Bold';
  line-height: 18px;
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  gap: 10px;
  line-height: 1;
}

.comment-like-info {
  font-family: 'Gilroy-Bold';
  line-height: 18px;
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  gap: 5px;
  line-height: 1;
}

.user-image {
  width: 37px;
  height: 37px;
}

.commentlike-image {
  width: 20px;
  height: 20px;
}

.count {
  font-size: 12px;
}

/* For smaller screens (mobile devices) */
@media screen and (max-width: 767px) {
  .hero-content {
    flex-direction: column; /* Stack content vertically */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .hero-text {
    text-align: center;
  }

  .hero-img {
    height: auto;
    width: 175px;
    padding: 20px;
  }

  .section-pink h1 {
    font-size: 27px;
  }

  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Reset gap for single column */
    padding: 25px,25px; /* Adjust padding for smaller screens */
  }

  .section-container {
    flex-direction: column;
  }

}

/* For tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-content {
    flex-direction: row;
    padding: 40px 40px; /* Adjust padding for tablets */
  }

  .hero-text {
    text-align: left;
  }

  .hero-img {
    height: auto;
    width: 250px;
    padding: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between grid items */
    padding: 40px; /* Adjust padding for tablets */
  }

  .grid .largest {
    width: 75px;
    height: 75 px;
    animation: bubbleFadeIn 1s ease-in-out forwards;
  }
  
  .grid .smaller {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    animation: bubbleFadeIn 1.5s ease-in-out forwards;
    margin-left: 10px; /* Add margin between the smaller circles */
    margin-right: 10px; /* Add margin between the smaller circles */
  }
}
